.header {
    /*background-image: linear-gradient(-180deg, #FFFFFF, #CACACA);*/
    background-color: white;
    width: 100vw;
    height: 8.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 5%;
    grid-auto-flow: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 2.5%;
    box-shadow: 0px 6px 19px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .header img {
    grid-column: 1/2;
  }
  
  .header a,.header p {
    text-decoration: none;
    color: #000000;
    font-size: 1.8rem;
    white-space: nowrap;
}
  
  .header a,.header button {
    cursor: pointer;
    scroll-behavior: smooth;
  }
  
  .header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20%;
    grid-column: 2/3;
    margin-left: 5rem;
    scroll-behavior: smooth;
  }

  .buttonContainer{
    grid-column: 4;
  }
  
  .header button {
    background-color: #B74146;
    border: none;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
  }
  
  .header button a {
    color: #FFFFFF;
  }

  @media (max-width: 1600px) and (max-height: 900px) {
    .header {
      height: 14vh;
      width: 100vw;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      padding: 0 5%;    
    }

    .header img {
      width: 13rem;
    }


    .header a, p{
      padding-right: 10px;
      font-size: 27px;
    }
  }


@media(max-width: 1440px) {
  .header {
    height: 12vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 0 5%;    
  }

  .header img {
    width: 13rem;
  }


  .header a, p{
    font-size: 26px;
  }

}

@media (max-width:1366px){
  .header {
    height: 12vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 0 5%;    
  }

  .header img {
    width: 10rem;
  }


  .header a, p{
    font-size: 22px;
  }


  .header button {
    text-align: center;
    padding: 0.8rem 0.2rem;
  }

  .header a {
    padding-right: 0;
  }
}

@media(max-width: 1280px) and (max-height:720px) {
  .header{
    gap:1rem;
    width: 100vw;
    grid-template-columns: 0.5fr 1fr 0.4fr;
    height: 7vw; 
}

  .header img {
  width: 55%;
}

  .header a,.header p {
  font-size: 20px;
}

.header button {
  width: 100%;
  padding: 10% 1.3rem;
}

.header button a{
  font-size: 19px;
}

}

@media (max-width: 1020px) {
  
  .header{
    display:none;
  }
}