
.Swiper_conteiner {
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    margin: 0 auto; /* Centraliza a div horizontalmente */
    width: 100vw;
    margin-top: 7%;
    text-align: center;
    height: 600px;
    z-index: 1;
}

.Swiper_conteiner h1 {
    font-size: 50px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin-bottom: 2%;
    margin-top:5rem;
}

.Title {
    font-size: 25px;
    text-decoration: underline 2px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin-bottom: 3%;
}

.Swiper_content {
    width: 100%;
    max-width: 18.75rem;
    height: auto;
    z-index: 1;
    border-radius: 10px;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.button_content {
    margin: 0 auto;
    width: 25%;
    height: 50px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    z-index: 1;
}

/*.button_content a{
    display: block;
    text
}*/

.botao {
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 18px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    font-size: 18px;
    background-image: linear-gradient(90deg, #E1724F, #DF3131);
    transition: all 0.3s ease-in-out;
}

.botao:hover {
    color: rgb(255, 255, 255);
    background-color: aqua;
}


.Swiper_conteiner{
    position: relative;
    overflow: visible;
}

.svg{
    position: absolute;
    top: 29rem;
    left: -1rem;
    z-index: -1;
}


.svg2{
    position: absolute;
    top: 35rem;
    right: -9rem;
    z-index: -1;
}

.ref{
    visibility: hidden;
    position: absolute;
    bottom: -27rem;   
 }

 .swiper-slide{
    margin-left:2rem;

 }

 @media (max-width: 1300px) {

    .Title{
        white-space: nowrap;}
}

@media (max-width: 1280px) {
    .swiper-content {
        margin-left: 5rem;}
    }

.botao_test{
    position: relative;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    font-size: 18px;
    background-image: linear-gradient(90deg, #E1724F, #DF3131);
    transition: all 0.3s ease-in-out; 
}

.button_content_test{
    margin: 0 auto;
    width: 25%;
    height: 50px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    z-index: 1;
}