.container {

    text-align: center;
    margin: 2rem;
    margin-top: 25vh;
}

.ref{
    position:absolute;
    top:114rem;
}

.description {
    font-size: 2.4rem;
    margin-bottom: 6rem;
    font-weight: 400;
}

.benefitsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.icon {
    width: 4rem;
    height: 4rem;
    background-color: #d3d3d3;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width: 1600px) and (max-height: 900px){
    .icon {
        width: 4rem;
        height: 4rem;
        background-color: #d3d3d3;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description {
        font-size: 2.2rem;
        margin-bottom: 5rem;
        padding-top: 3%;
        font-weight: 400;
    }
    

    .benefitsGrid {
        font-size: 24px;
    }
}

@media(max-width: 1440px){
    .icon {
        width: 4rem;
        height: 4rem;
        background-color: #d3d3d3;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description {
        font-size: 2.2rem;
        margin-bottom: 5rem;
        padding-top: 3%;
        font-weight: 400;
    }
    

    .benefitsGrid {
        font-size: 1rem;
    }
}


@media(max-width: 1366px) {
    .icon {
        width: 2.5rem;
        height: 2.5rem;
        background-color: #d3d3d3;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description {
        font-size: 1.9rem;
        margin-bottom: 5rem;
        padding-top: 1%;
        font-weight: 400;
    }
    

    .benefitsGrid p{
        font-size: 18px;
    }
}
    


@media(max-width: 1280px) and (max-height:720px) {
    .description {
        font-size: 1.4rem;
        font-weight: 300;
    }

    .container {
        text-align: center;
        margin: 2rem;
        margin-top: 20rem;
        margin-bottom: 8rem;
    }

    .benefitsGrid p{
        font-size: 1.1rem;

    }

    .icon svg{
        width:2rem;
        height: 2rem;
    }  
}

@media(max-width: 1020px) {
.benefitsGrid p{
    font-size: 1.5rem;
}

     .icon svg{
    width: 3rem;
    height: 3rem;
}   

.description {
    font-size: 2rem;
    font-weight: 300;
}

.container {
    margin-top: 20rem;
}

}

@media (max-width: 768px) {
    .benefitsGrid {
        grid-template-columns: 1fr;
    }
    .icon {
        width: 3rem;
        height: 3rem;
    }
    p {
        font-size: 0.9rem;
    }
}
