 .MuiAccordionSummary-content {
    margin: 0 !important;
  }
  
  .MuiAccordionSummary-expandIconWrapper {
    margin-left: auto;
  }
  
  .MuiTypography-root {
    font-size: 16px;
    font-weight: 500;
  }
  
  .MuiAccordionSummary-root {
    padding: 0 16px;
  }
  
  .MuiAccordionDetails-root {
    padding: 16px;
  }

  .mobile {
    display: none;
  }

  .container{
    position:relative;
    width: 100vw;
    height: 165vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 2rem;
  }

  .ref{
    opacity:0;
    position:absolute;
    top:10rem;
  }
  
  .background svg{
    position: absolute;
    z-index: -1;
    width: 85%;
    height: 85%;
  }

  .background{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 350px;
    left: 12rem;
    top:25rem;
  }

  .content > h1, p{
    color: black;
  }

  .content p{
    font-size: 1.8rem;
    font-weight: 500;
  }

  .content h1{
    font-size: 3.6rem;
    font-weight: 500;
  }

  .accordion{
    position: absolute;
    right: 13rem;
    top:27rem;
    width: 28rem;
    height: 56rem;
    overflow: hidden;

  }

  .QuemSomosImg{
    position: absolute;
    left: 42rem;
    top:25rem;
    width: 28rem;
  }

  .SVGContainer{
    position: relative;
    overflow: visible;

  }  

  .SVGContainer2{
    position: relative;
    overflow: visible;
  }  

  .svg_QuemSomos{
    content: "";
    position: absolute;
    z-index: -50;
    top:284.2vh;
    right: 0;
    }

  .svg_QuemSomos2{
    display: none;
      }


@media(max-width: 1680px){

  .accordion{
    width: 27rem;
    right: 9.5rem;
    height: 52rem;
    top:24.5rem;
  }

  .accordion p{
    font-size: 25px;
  }

  .QuemSomosImg{
    position: absolute;
    left: 37rem;
  }

  .content{
    top:24rem;
  }

}

@media(max-width: 1600px) {

  .container {
    height: 115vh;
  }
  
  .QuemSomosImg{
    position: absolute;
    top:10rem;
    left: 35rem;
    width: 26rem;
    height: 42rem;
  }

  .accordion{
    right: 9rem;
    top:9rem;
    width: 27%;
    height: 46rem;
    overflow: hidden;
  }

  .accordion p {
    font-size: 20px;
  }

  .content{
    width: 24%;
    top:10rem;
    left:10rem;
  }

  .content p{
    font-weight: 300;
  }

  .content h1 {
    font-size: 60px;
    font-weight: 500;
  }


}

@media(max-width: 1600px) and (max-height: 900px){

  .container {
    right:8rem;
    height: 100vh;
    width: 115vw;
  }
  
  .QuemSomosImg{
    position: absolute;
    top:8rem;
    left: 41%;
    width: 17%;
    height: 32rem;
  }

  .accordion{
    right: 27rem;
    top:7rem;
    width: 17%;
    height: 77%;
    overflow: hidden;
  }

  .accordion p {
    font-size: 15px;
  }

  .content{
    width: 15%;
    top:8rem;
    left:25%;
  }

  .content p{
    font-weight: 300;
    font-size: 22px;
  }

  .content h1 {
    font-size: 45px;
    font-weight: 500;
  }

}

@media(max-width: 1440px) {

  .accordion{
    right: 8.5rem;
    height: 42.8rem;
    width: 23rem;
    top:13rem;
  }

  .accordion p{
    font-size: 20px;
  }

  .accordion svg{
    width: 40px;
    height: 40px;
  }

  .QuemSomosImg{
    position: absolute;
    top:14rem;
    left: 33rem;
    width: 22rem;
    height: 37rem;
  }

  .content{
    top: 14rem;
    left:10rem;
  }

  .content p{
    font-size: 25px;
    font-weight: 300;
  }

  .svg_QuemSomos{
    content: "";
    position: absolute;
    z-index: -50;
    top:284.2vh;
    right: -2.5rem;
    }

}


@media(max-width:1366px) {

  .container{
    width: 120vw;
    margin-left: 8rem;
  }

  .content p {
    width: 15rem;
    font-size: 18px;
  }

  .accordion{
    right: 25rem;
    width: 17rem;
    height: 20rem;
    top:4rem;
  }

  .accordion p{
    font-size: 14px;
  }

  .accordion svg{
    width: 1px;
    height: 1px;
  }

  .QuemSomosImg{
    position: absolute;
    top:6rem;
    left: 40rem;
    width: 16rem;
    height: 28rem;
  }

  .content{
    width: 10%;
    top:6rem;
    left:25rem;
  }

}

@media(max-width: 1280px) and (max-height:720px) {

  .container{
    height: 100vh;
    width: 100vw;
  }

  .accordion{
    right:12rem;
    width: 15rem;
    height: 29rem;
    top:4rem;
  }

  .accordion p{
    margin: -10px;
    font-size: 13px;
  }

  .accordion svg{
    width: 30px;
    height: 30px;
  }

  .QuemSomosImg{
    position: absolute;
    top:4rem;
    left: 40%;
    width: 14rem;
    height: 27rem;
  }

  .content{
    top:5rem;
    left:15rem;  }

  .content p{
    font-size: 16px;
    font-weight: 400;
    width: 13rem;
  }

  .content h1{
    font-size: 40px;
  }

  .svg_QuemSomos{
  display:none;
    }

    .svg_QuemSomos2{
      display: block;
      content: "";
      position: absolute;
      z-index: -50;
      top:335.2vh;
      right: -11rem;
      }

}

@media(max-width: 1020px) {
  .svg_QuemSomos {
    display: none;
  }

  .svg_QuemSomos svg {
    display: none;
    width:0;
    height:0;
  }
  .desktop {
    display: none;
}

  .container {
    margin-left: 22%;
    margin-bottom: -25rem;
    height: 179.5vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width:100vw;
  }

  .mobile {
    display: inline-block;
    width: 80%;
    height: 150vh;
    text-align: center;
    align-items: center;
  }

  .content_mobile {
    padding: 15px;
    padding-top: 100px;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-image: url(../../assets/quem_somos.png);
    background-repeat: no-repeat;
    height: 40rem;
  }

  .content_mobile p{
    font-size: 25px;
    color: #e0e0e0;
  }

  .content_mobile h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #e0e0e0;
    margin-bottom: 30px;
  }

  .accordion{
      position:absolute;
      left: 3rem;
      width: 80%;
      height:50rem;
      top: 47rem;
      z-index:500;
    }

    .accordion p {
      font-size: 17px;
    }


    .accordion svg{
      width: 30px;
      height: 30px;
    }
  }