 .MuiAccordionSummary-content {
    margin: 0 !important;
  }
  
  .MuiAccordionSummary-expandIconWrapper {
    margin-left: auto;
  }
  
  .MuiTypography-root {
    font-size: 16px;
    font-weight: 500;
  }
  
  .MuiAccordionSummary-root {
    padding: 0 16px;
  }
  
  .MuiAccordionDetails-root {
    padding: 16px;
  }

  .container{
    position:relative;
    width: 100vw;
    height: 165vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 2rem;
  }
  
  .background svg{
    position: absolute;
    z-index: -1;
    width: 85%;
    height: 85%;
  }

  .background{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 350px;
    left: 12rem;
    top:25rem;
  }

  .content > h1, p{
    color: black;
  }

  .content p{
    font-size: 1.8rem;
    font-weight: 500;
  }

  .content h1{
    font-size: 3.6rem;
    font-weight: 500;
  }

  .accordion{
    position: absolute;
    right: 13rem;
    top:27rem;
    width: 28rem;
    height: 56rem;
    overflow: hidden;

  }

  .QuemSomosImg{
    position: absolute;
    top:25rem;
    width: 28rem;
  }

  .SVGContainer{
    position: relative;
    overflow: visible;

  }  

  .SVGContainer2{
    position: relative;
    overflow: visible;
  }  

  .svg_QuemSomos{
    content: "";
    position: absolute;
    z-index: -50;
    top:284.2vh;
    right: 0;
    }

  .svg_QuemSomos2{
    display: none;
      }


@media(max-width: 1680px){

  .accordion{
    right: 9.5rem;
    height: 52rem;
    top:24.5rem;
  }

  .QuemSomosImg{
    position: absolute;
    top:24rem;
  }

  .content{
    top:24rem;
  }

}

@media(max-width: 1600px) {
  .QuemSomosImg{
    position: absolute;
    top:18rem;
    left: 36rem;
    width: 22rem;
    height: 37rem;
  }

  .accordion{
    position: absolute;
    right: 9.5rem;
    top:17.8rem;
    width: 500px;
    height: 50rem;
    overflow: hidden;
  }

  .content{
    top:18rem;
    left:10rem;
  }

  .content p{
    font-weight: 300;
  }


}


@media(max-width: 1440px) {

  .accordion{
    right: 8.5rem;
    height: 42.8rem;
    width: 25rem;
    top:20rem;
  }

  .accordion p{
    font-size: 20px;
  }

  .accordion svg{
    width: 40px;
    height: 40px;
  }

  .QuemSomosImg{
    position: absolute;
    top:20rem;
    left: 33rem;
    width: 22rem;
    height: 37rem;
  }

  .content{
    top:20rem;
    left:10rem;
  }

  .content p{
    font-weight: 300;
  }

  .svg_QuemSomos{
    content: "";
    position: absolute;
    z-index: -50;
    top:284.2vh;
    right: -2.5rem;
    }

}


@media(max-width:1366px) {

  .container{
    margin-left: 1rem;
  }

  .content p {
    width: 20rem;
    font-size: 22px;
  }

  .accordion{
    right: 8rem;
    width: 20rem;
    height: 41rem;
    top:16rem;
  }

  .accordion p{
    font-size: 18px;
  }

  .accordion svg{
    width: 40px;
    height: 40px;
  }

  .QuemSomosImg{
    position: absolute;
    top:16rem;
    left: 31rem;
    width: 22rem;
    height: 32rem;
  }

  .content{
    top:16rem;
    left:9rem;
  }

  .svg_QuemSomos{
    content: "";
    position: absolute;
    z-index: -50;
    top:284.2vh;
    right: -7.5rem;
    }

    .svg_QuemSomos2{
      display: none;
    }

}

@media(max-width: 1280px) and (max-height:720px) {

  .container{
    height: 110vh;
    width: 100vw;
  }

  .accordion{
    right:14rem;
    width: 15rem;
    height: 32rem;
    top:4rem;
  }

  .accordion p{
    margin: -10px;
    font-size: 13px;
  }

  .accordion svg{
    width: 30px;
    height: 30px;
  }

  .QuemSomosImg{
    position: absolute;
    top:5rem;
    left: 40%;
    width: 16rem;
    height: 27rem;
  }

  .content{
    top:5rem;
    left:15rem;  }

  .content p{
    font-size: 18px;
    font-weight: 300;
    width: 14rem;
  }

  .content h1{
    font-size: 40px;
  }

  .svg_QuemSomos{
  display:none;
    }

    .svg_QuemSomos2{
      display: block;
      content: "";
      position: absolute;
      z-index: -50;
      top:335.2vh;
      right: -11rem;
      }

}