 .MuiAccordionSummary-content {
    margin: 0 !important;
  }
  
  .MuiAccordionSummary-expandIconWrapper {
    margin-left: auto;
  }
  
  .MuiTypography-root {
    font-size: 16px;
    font-weight: 500;
  }
  
  .MuiAccordionSummary-root {
    padding: 0 16px;
  }
  
  .MuiAccordionDetails-root {
    padding: 16px;
  }

  .container{
    position:relative;
    width: 100vw;
    height: 175vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 2rem;
  }
  
  .background svg{
    position: absolute;
    z-index: -1;
    width: 85%;
    height: 85%;
  }

  .background{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 350px;
    left: 12rem;
    top:25rem;
  }

  .content > h1, p{
    color: black;
  }

  .content p{
    font-size: 1.8rem;
    font-weight: 500;
  }

  .content h1{
    font-size: 3.6rem;
    font-weight: 500;
  }

  .accordion{
    position: absolute;
    right: 13rem;
    top:27rem;
    width: 28rem;
    height: 56rem;
    overflow: hidden;

  }

  .QuemSomosImg{
    position: absolute;
    top:25rem;
    width: 28rem;
  }

  .SVGContainer{
    position: relative;
    overflow: visible;

  }  

  .SVGContainer2{
    position: relative;
    overflow: visible;
  }  

  .svg_QuemSomos{
    content: "";
    position: absolute;
    z-index: -50;
    top:284.2vh;
    right: 0;
    }

@media(width: 1600px) {
  .QuemSomosImg{
    position: absolute;
    top:25rem;
    left: 36rem;
    width: 22rem;
    height: 37rem;
  }

  .accordion{
    position: absolute;
    right: 9.5rem;
    top:24.8rem;
    width: 500px;
    height: 50rem;
    overflow: hidden;


  }
}

@media(width: 1680px) {

  .accordion{
    right: 9.5rem;
    height: 52rem;
    top:33rem;
  }

  .QuemSomosImg{
    position: absolute;
    top:33rem;
  }

  .content{
    top:33rem;
  }

}

@media(width: 1440px) {

  .accordion{
    right: 7rem;
    height: 43rem;
    top:30rem;
  }

  .accordion p{
    font-size: 20px;
  }

  .accordion svg{
    width: 40px;
    height: 40px;
  }

  .QuemSomosImg{
    position: absolute;
    top:28rem;
    left: 32rem;
    width: 22rem;
    height: 37rem;
  }

  .content{
    top:28rem;
    left:10rem;
  }

  .svg_QuemSomos{
    content: "";
    position: absolute;
    z-index: -50;
    top:284.2vh;
    right: -2.5rem;
    }

}


@media(width: 1366px) {

  .accordion{
    right: 7rem;
    width: 25rem;
    height: 42.8rem;
    top:21rem;
  }

  .accordion p{
    font-size: 20px;
  }

  .accordion svg{
    width: 40px;
    height: 40px;
  }

  .QuemSomosImg{
    position: absolute;
    top:21rem;
    left: 31rem;
    width: 22rem;
    height: 37rem;
  }

  .content{
    top:21rem;
    left:9rem;
  }

  .svg_QuemSomos{
    content: "";
    position: absolute;
    z-index: -50;
    top:284.2vh;
    right: -2.5rem;
    }

}

@media(width: 1280px) {

  .container{
    height: 100vh;
    margin-left: 5rem;
  }

  .accordion{
    right: 6.5rem;
    width: 20rem;
    height: 43rem;
    top:10.7rem;
  }

  .accordion p{
    font-size: 18px;
  }

  .accordion svg{
    width: 30px;
    height: 30px;
  }

  .QuemSomosImg{
    position: absolute;
    top:12rem;
    left: 31rem;
    width: 22rem;
    height: 37rem;
  }

  .content{
    top:12rem;
    left:9rem;
  }

  .svg_QuemSomos{
  display:none;
    }

    .svg_QuemSomos2{
      content: "";
      position: absolute;
      z-index: -50;
      top:264.2vh;
      right: -8rem;
      }

}

@media(width: 1280px) and (height:800px) {

  .container{
    height: 100vh;
    margin-left: 5rem;
  }

  .accordion{
    right:8.5rem;
    width: 20rem;
    height: 39rem;
    top:6rem;
  }

  .accordion p{
    font-size: 17px;
  }

  .accordion svg{
    width: 30px;
    height: 30px;
  }

  .QuemSomosImg{
    position: absolute;
    top:6rem;
    left: 31rem;
    width: 20rem;
    height: 35rem;
  }

  .content{
    top:6rem;
    left:9rem;
  }

  .content p{
    font-size: 24px;
  }

  .svg_QuemSomos{
  display:none;
    }

    .svg_QuemSomos2{
      content: "";
      position: absolute;
      z-index: -50;
      top:284.2vh;
      right: -11rem;
      }

}