
.svg_contato {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.contato_box {
    margin-bottom: 30%;
    height: auto;
    display: flex;
}

.contato_info {
    position: relative;
    margin-top: 15%;
    margin-left: 17%;
    width: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Para empilhar .secao verticalmente */
    justify-content: center; /* Centralizar verticalmente */
    align-items: center; /* Centralizar horizontalmente */
    text-align: center;
    /*background-image: url(../assets/teste.png);*/
    background-color: rgb(255, 255, 255);
    padding: 20px; /* Espaço interno para melhor visualização */
}

.contato_info::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    background: linear-gradient(140deg, #c54444, #666dbd);
    border-radius: 20px;
}

.secao {
    padding: 10%;
    font-size: 25px;
    display: flex; /* Empilhar os elementos verticalmente */
    justify-content: center; /* Centralizar o conteúdo verticalmente */
    align-items: center; /* Centralizar o conteúdo horizontalmente */
    margin: 5px; /* Espaço entre cada .secao */
}

.secao p{
    font-weight: 300;
    padding: 5px;
    margin-right: 0px;
}

.secao p:first-child{
    font-weight: 400;
    padding: 5px;
    margin-right: 0px;
}

.logo_hora{
    position: relative;
    }

.logo_hora img{
    margin-right: 300px;
    }

.logo{
    position: relative;
    margin-left: 1rem;
}

.secao_hora {
    padding: 10%;
    font-size: 25px;
    display: flex; /* Empilhar os elementos verticalmente */
    justify-content: center; /* Centralizar o conteúdo verticalmente */
    align-items: center; /* Centralizar o conteúdo horizontalmente */
    margin: 10px 0; /* Espaço entre cada .secao */
}

.secao_hora p{
    font-weight: 300;
}

.secao_hora p:first-child{
    font-weight: 400;
    margin-bottom: 10px;
}


.text_content {
    display: flex;
    text-align: left;
    flex-direction: column; /* Empilhar h2 e p verticalmente */
    align-items: flex-start;
    padding: 0px 40px; /* Centralizar horizontalmente */
}

.forms_contato {
    color: white;
    width: 500px;
    text-align: center;
    height: 60%;
    margin-top: 16%;
    margin-left: 10%;
}


.forms_contato h2 {
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 500;
}

.forms_contato form {
    display: flex;
    flex-direction: column;
}

.forms_contato input, 
.forms_contato textarea {
    width: 100%;
    height: 45px;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

textarea,
input:focus {
    outline: none;
}

.forms_contato textarea {
    height: 200px;
}

.forms_contato button {
    margin: 0 auto;
    margin-top: 2%;
    width: 40%;
    padding: 13px;
    border: 2px solid #c54444;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, 0.3s ease-in-out;
    font-size: 20px;
    font-weight: 400;
}

.forms_contato button:hover {
    background: #c54444;
    color: rgb(51, 51, 51);
    
}

@media (max-width: 1680px) {
    .logo{
        margin-left: 2rem;
    }

    .logo_hora{
        margin-left: 4rem;
    }

    .logo ~ .text_content p{
        white-space: nowrap;
    }

    .logo_hora ~ .text_content p{
        white-space: nowrap;
    }

    .onde_estamos{
        white-space: nowrap;
    }

    .onde_estamos ~ .text_content p{
        white-space: nowrap;
    }

    .contato_info {
        width: 32%;
    }

    .text_content {
        font-size: 25px;
    }

    .forms_contato {
        width: 32%;
    }
}

@media (max-width: 1440px) {
    .logo{
        margin-left: 2rem;
    }

    .logo_hora{
        margin-left: 4rem;
    }

    .logo ~ .text_content p{
        white-space: nowrap;
    }

    .logo_hora ~ .text_content p{
        white-space: nowrap;
    }

    .onde_estamos{
        white-space: nowrap;
    }

    .onde_estamos ~ .text_content p{
        white-space: nowrap;
    }

    .contato_info {
        width: 32%;
    }

    .text_content {
        font-size: 22px;
    }

    .forms_contato {
        width: 32%;
    }
}


@media (max-width: 1400px) { 
    .logo{
        margin-left: 2rem;
    }

    .logo_hora{
        margin-left: 8rem;
    }

    .logo ~ .text_content p{
        white-space: nowrap;
    }

    .logo_hora ~ .text_content p{
        padding-right: 5rem;
        white-space: nowrap;
    }

    .onde_estamos{
        margin-left: -1.5rem;
        white-space: nowrap;
    }

    .onde_estamos ~ .text_content p{
        white-space: nowrap;
    }

    .contato_info {
        width: 32%;
    }

}

@media (max-width: 1366px) {
    .logo{
        margin-left: 2rem;
    }

    .logo_hora{
        margin-left: 8rem;
    }

    .logo ~ .text_content p{
        white-space: nowrap;
    }

    .logo_hora ~ .text_content p{
        padding-right: 5rem;
        white-space: nowrap;
    }

    .onde_estamos{
        margin-left: 2.8rem;
        white-space: nowrap;
    }

    .onde_estamos ~ .text_content p{
        white-space: nowrap;
    }

    .contato_info {
        width: 32%;
    }

    .text_content {
        font-size: 20px;
    }

    .forms_contato {
        width: 32%;
    }

    .forms_contato h2 {
        font-size: 25px;
    }
}

@media (max-width: 1280px) { 
    .logo{
        margin-left:1.5rem;
    }

    .logo_hora{
        margin-left: 7rem;
    }

    .logo ~ .text_content p{
        white-space: nowrap;
    }

    .logo_hora ~ .text_content p{
        white-space: nowrap;
    }

    .onde_estamos{
        white-space: nowrap;
        margin-left: 2rem;
    }

    .onde_estamos ~ .text_content p{
        white-space: nowrap;
    }

    .contato_info {
        width: 32%;
    }

    .text_content {
        font-size: 20px;
    }


}


@media (max-width: 1020px) {
    
    .contato_info {
        display: none;
    }

    .forms_contato {
        width: 80%;
    }

    .forms_contato h2 {
        font-size: 30px;
        margin-bottom: 20%;
        color: black;
    }

    .forms_contato input {
        background-color: transparent;
        border-bottom: 2px solid rgb(189, 189, 189);
        box-shadow: none;
    }


    .forms_contato textarea {
        background-color: whitesmoke;
        box-shadow: none;
    }

    .svg_contato {
        display: none;
    }

    .forms_contato button{
        background-color: #B84145;
    }

}



